/* 
Rachel Curry
Style for Blog Post
March 6th, 2025
*/

.heading {
    margin: auto;
    padding: 20px;
    width: 50%;
    text-align: center;
    background-color: #f0f2f8;
    border-radius: 25px;
    border: 4px solid #d7d8dd;
    font-family: Verdana;
    text-shadow: 2px 3px #d7d8dd;
}

.main-text {
    margin: auto;
    padding: 10px;
    width: 50%;
    font-family: Verdana;
    line-height: 2;
}

code {
    font-family: "Courier New", Courier, monospace;
    background-color: #f0f2f8;
    padding: 2px 5px;
    border-radius: 4px;
}

pre {
    background-color: #f0f2f8;
    margin:auto;
    margin-top: 50px;
    margin-bottom: 50px;;
    width: 80%;
    padding: 20px;
    border-radius: 15px;
    overflow-x: auto;
    font-family: "Courier New", Courier, monospace;
    white-space: pre-wrap;
}

var {
    font-family: Georgia;
    font-size:13pt;
}

.math {
    text-align: center;
    font-family: Georgia;
    font-size: 24pt;
    font-style: italic;
}

canvas {
    margin: auto;
    padding: 20px;
}

.signature {
    font-family: "Great Vibes", cursive;
    font-size: 28pt;
    font-weight: 400;
    font-style: normal;
    text-align:center;
}

.tag {
    margin-left: 10px;
    margin-right: 10px;
    background-color: #768cf5;
    color: white;
    padding: 6px 10px;
    border-radius: 4px;
    text-shadow: none;
    /* border: 4px solid #acaeb6; */
}